<div class="centered-content">
    <div class="signup-box">
      <h1 class="title">Signup</h1>
      <div class="field">
        <label for="uemail"><b>Email</b></label>
        <input #emailInput type="text" class="input" placeholder="Please enter email..." name="uemail" required>
    
        <label for="psw"><b>Create Password</b></label>
        <input #passwordInput type="password" class="input" placeholder="Please enter password..." name="psw" required>
      </div>
  
      <button type="submit" class="button"
              (click)="onSignupButtonClicked(emailInput.value, passwordInput.value)">
        Signup
      </button>
    </div>
  </div>