<div class="centered-content">
    <div class="modal-box">
      <h1 class="title">
        Edit a <span class="colored-title">List</span> 
      </h1>
  
     <div class="search-field">
      <input #listTitleValue type="text" class="input" placeholder="Enter list name...">
    </div>
    <div class="buttons">
      <button routerLink="/" class="button cancel-button">Cancel</button>
      <button class="button create-list-button" (click)="updateList(listTitleValue.value)">Create</button>
    </div>
    </div>
  </div>
  
