/* You can add global styles to this file, and also import other style files */
@import './styles/normilize.scss';
@import './styles/constants.scss';

html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: $family-sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: $color-background;
  color: $color-text;
}

html, body { 
  height: 100%;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-box {
  width: 100%;
  max-width: 580px;
  min-height: 200px;
  background: white;
  border-radius: 5px;
  padding: 35px;
  .title {
    margin: 0 0 30px;
  }
  .colored-title {
    color: $color-task-background;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
