<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar">
      <h1 class="title">
        Lists
      </h1>
      <div class="list-menu">
        <a href="" class="list-menu-item is-active">
          <p>List 1</p>
        </a>
        <a href="" class="list-menu-item">
          <p>List 1</p>
        </a>
        <a href="" class="list-menu-item">
          <p>List 1</p>
        </a>
      </div>
      <button class="button list-button"
      (click)="createNewList()">+ New List</button>
    </div>
    <div class="task-list-container">
      <h1 class="title">
        Tasks
      </h1>
      <div class="task complete">
        <p>This is something I have to do</p>
      </div>
      <div class="task">
        <p>This is something I have to do</p>
      </div>
      <div class="task">
        <p>This is something I have to do</p>
      </div>
    </div>
  </div>
</div>
