<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar">
      <h1 class="title">
        Lists
      </h1>
      <div class="list-menu">
        <a href="" class="list-menu-item"
        *ngFor="let list of lists"
        [routerLink]="['/lists', list._id]"
        routerLinkActive="is-active">
          <p>{{list.title}}</p>
        </a>
      </div>
      <button class="button list-button"
              routerLink="/new-list">
              + New List
      </button>
    </div>
    <div class="task-list-container">
      <h1 class="title">
        Tasks
      </h1>
      <div class="task complete"
           *ngFor="let task of tasks">
        <p>{{task.title}}</p>
      </div>

      <button class="button button-add-circle">
        <img src="../../../assets/plus-icon.svg" alt="Plus Icon">
      </button>
    </div>
  </div>
</div>
