<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar">
      <h1 class="title">
        Lists
      </h1>
      <div class="list-menu">
        <a href="" class="list-menu-item"
        *ngFor="let list of lists"
        [routerLink]="['/lists', list._id]"
        routerLinkActive="is-active">
          <p>{{list.title}}</p>
        </a>
      </div>
      <button class="button list-button"
              routerLink="/new-list">
              + New List
      </button>
    </div>
    <div class="task-list-container">
      <div *ngIf="tasks">

        <div class="top-bar">
          <h1 class="title">
            Tasks
          </h1>
          <div class="settings-menu">
            <button mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="Settings menu">
              <mat-icon>
                settings
              </mat-icon>
            </button>  
            <mat-menu #menu="matMenu"
                      xPosition = "before">
              <button mat-menu-item>
                <mat-icon>
                  update
                </mat-icon>
                
                  <span [routerLink]="['/edit-list', selectedListId]">
                    Edit
                  </span>
                
              </button>
  
              <button mat-menu-item
                      (click)="onDeleteListClick()">
                <mat-icon>
                  delete
                </mat-icon>
                <span>
                  Delete
                </span>
              </button>
            </mat-menu>
          </div>
        </div>

        <div class="task"
            *ngFor="let task of tasks"
            (click) = onTaskClick(task)
            [ngClass]="{'completed': task.completed}">
            <div class="task-text">
              <p>{{task.title}}</p>
            </div>
            <div class="task-buttons">
              
                <button mat-mini-fab color="accent" aria-label="Edit button"
                [routerLink]="['/lists', selectedListId, 'edit-task', task._id]">
                  <mat-icon>edit</mat-icon>
                </button>

                <button mat-mini-fab color="primary" aria-label="Delete button"
                        (click)="onTaskDeleteClick(task._id)">
                  <mat-icon>delete</mat-icon>
                </button>
              
            </div>
           
          
        </div>

        <h3 class="empty-state-text"
            *ngIf="tasks.length === 0">
          There are no tasks here! Click the add button to create a new task.
        </h3>

        <button routerLink="./new-task"
                class="button button-add-circle">
          <img src="../../../assets/plus-icon.svg" alt="Plus Icon">
        </button>
      </div>
      <div *ngIf="!tasks"> 
        <h3 class="empty-state-text">
          Please select a list from the sidebar!
        </h3>
      </div>
    </div>
  </div>
</div>
