$family-sans-serif: "Montserrat", sans-serif;

$color-background: rgb(237, 237, 221);
$color-sidebar-background: rgb(255, 255, 255);
$color-task-background: rgb(188, 83, 241);
$color-list-item: rgb(228, 228, 211);
$color-text: rgb(24, 24, 24);