<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Create a new <span class="colored-title">Task</span>
    </h1>

   <div class="search-field">
    <input #taskTitleValue type="text" class="input" placeholder="Enter task name...">
  </div>
  <div class="buttons">
    <button routerLink="/" class="button cancel-button">Cancel</button>
    <button class="button create-list-button" (click)="createTask(taskTitleValue.value)">Create</button>
  </div>
  </div>
</div>
